/* CSS for View Full Site */
.rwd-display-options{ text-align: center; }
.rwd-display-option{ cursor: pointer; }

#view-responsive{ display: none; }

@media only screen and (min-width: 900px){
    #view-full{ display: none; }
    #view-responsive{ display: inline; }
}


